#mercury1 {
  display: none;
}

#mercury2 {
  display: none;
}

#venus1 {
  display: none;
}

#venus2 {
  display: none;
}

#mars1 {
  display: none;
}

#mars2 {
  display: none;
}

#jupiter1 {
  display: none;
}

#jupiter2 {
  display: none;
}

#errorage {
  display: none;
}

#errorlife {
  display: none;
}

#erroragelife {
  display: none;
}